/*Aplicacion de estilo mediante etiquetas*/
body{
    margin: 20px; /*Margenes del body*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;/*Tipo de fuente del sitio*/
}

/*Estilo mediante una clase*/
.titulo1{
    color: #fff; /* establece el color de la fuente*/
    background-color: #3f3fe4; /* establece el color de fondo del elemento*/
}

/*Estilo aplicado mediante id */
#caja1{
    margin: 50px; /* Establece los margenes del elemento*/
    padding: 30px 30px 30px 30px; /* Establece el espacio de los elementos*/
    border: 2px solid #3f3fe4; /*Establece el tamaño del borde, tipo y color*/
    border-radius: 20px; /*Establece el borde redondeado del elemento*/
}

/*Establecemos el color de los parrafos*/
p{
    color: #3f8ce4;
}

h2{
    color: #9a3fe4;
    font-size: 2em;
}

strong{
    color: #e48f3f;
    font-size: 1em;
}